@{   
    ViewBag.MenuIndex = 2;
    var news = ViewData["News"] as MSNet.Models.News;
    ViewBag.Title = news.Title + "_大拇指控股集团";
}

<div class="page">
    <div class="pMain">
        <div class="newsT3">@(news.Title)</div>    
        <div class="newsC1">     
            @(Html.Raw(news.Contents)) 
        </div>    
        <div class="page">
            <div class="bshare-custom icon-medium-plus">
                <a title="分享到QQ空间" class="bshare-qzone" id="share-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog" id="share-sinamb"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb" id="share-qqmb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis" id="share-more"></a>
            </div>
            <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
            <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

        </div>
    </div>
</div>
