<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="false">
    <appName>Bumeng.WebApi</appName>
    <typeAliases>
      <!--<typeAlias name="RepositoryFactory.passports" alias="JuXian.Passports.DataRepositories.RepositoryFactory, JuXian.Passports.DataRepositories"/>-->
    </typeAliases>
  </appbase>
  <cached>
    <cache name="datalist" expiryTime="00:30:00" c:type="AppDomainCache" />
    <cache name="mobileapi" expiryTime="00:15:00" c:type="AppDomainCache" />
    <cache name="trendemoticons" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="forgetpassword" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="trendcontroller" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="bindvalidcode" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mobilecode" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="RelationVedio" expiryTime="01:00:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="UserVedioContributionRanking" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--频繁POST提交过滤-->
    <cache name="postfrequentfilter" expiryTime="00:05:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="postsfrequentfilter" expiryTime="00:05:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--共享数据缓存-->
    <cache name="filluserprofile" expiryTime="01:00:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="fillcircle" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="fillcircleranking" expiryTime="04:00:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--动态缓存-->
    <cache name="trendnew" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="trendfannew" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="trendhot" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="trendessence" expiryTime="00:05:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circletrend" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="trendcomment" expiryTime="00:00:05" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="filltrendpicture" expiryTime="00:08:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="filltrendugc" expiryTime="00:08:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="filltrendliked" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="filltrendreward" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="filltrendcount" expiryTime="00:00:10" c:type="MemCache">
      <server address="121.40.73.197:11231" />
    </cache>
    <!--召集令缓存-->
    <cache name="calltogether" expiryTime="00:00:05" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circlecalltogether" expiryTime="00:00:05" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--星梦缓存-->
    <cache name="stardream" expiryTime="00:05:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circledream" expiryTime="00:05:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="stardreamcomment" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="stardreamcount" expiryTime="00:00:15" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="stardreamhasmoney" expiryTime="00:00:15" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="stardreamsupport" expiryTime="00:00:20" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--热门圈缓存-->
    <cache name="hotcircle" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--排行榜缓存-->
    <cache name="trendreward" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="fanincome" expiryTime="00:15:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--粉丝排行榜-->
    <cache name="circletopfan" expiryTime="00:00:10" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--圈子缓存-->
    <cache name="circleinfo" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circlefanorder" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circleschedule" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    
    <!--V4视频缓存 Start-->
    
    <!--所有分类-->
    <cache name="allvediocategory" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--所有模块-->
    <cache name="allvediomodule" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--所有地址-->
    <cache name="allvediolocation" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--所有统计-->
    <cache name="vediocount" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--视频主页-推荐-->
    <cache name="vediorecommend" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--分类下视频-->
    <cache name="categoryvedio" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--位置下视频-->
    <cache name="locationvedio" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--圈下视频-->
    <cache name="circlevedio" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--预告列表-->
    <cache name="bespeakvedio" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--预告详情-->
    <cache name="bespeakdetails" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--播放页 直播/录播-->
    <cache name="vedioplay" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--筛选参数-->
    <cache name="vedioselectionparam" expiryTime="00:01:00" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    
    <!--V4视频缓存 End-->
    
    <!--视频展示列表缓存-->
    <cache name="starvideo" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="circlevideo" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="videocomment" expiryTime="00:00:01" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <!--我的模块缓存-->
    <cache name="myfollow" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mytrend" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="myfan" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mygift" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mylike" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="myreward" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mycrowdfunding" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mycircle" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="myorder" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mycalltogether" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="mybespeak" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
    <cache name="myvideoview" expiryTime="00:00:30" c:type="MemCache">
      <server address="192.168.1.7:11231" />
    </cache>
  </cached>  
  <logging>
    <loggers>
      <logger name="default">
        <ListenerIndex name="AppFileListener" minLevel="Trace" maxLevel="Info" />
        <ListenerIndex name="ExceptionFileListener" minLevel="Warn" />    
      </logger>
      <logger name="ExceptionLogger">
        <ListenerIndex name="ExceptionFileListener"/>      
      </logger>
      <logger name="FatalExceptionLogger">
        <ListenerIndex name="FatalExceptionFileListener"/>     
      </logger>
      <logger name="TaskThreadExceptionLogger">
        <ListenerIndex name="TaskThreadExceptionFileListener" />       
      </logger>
    </loggers>
    <listeners>
      <listener name="AppFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.app.log" />
        <Formatter type="TextFormatter"
          content="===[@LogLevel]@Message \t @LogTime\r\n" />
      </listener>     
      <listener name="ExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="FatalExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.fatal.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="TaskThreadExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.taskThreadEx.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>      
    </listeners>
  </logging>
</configuration>