@{ 
    var menus = PermissionMenu.FindWithAll();  
    var user = MSNet.Common.Web.UserAuthentication.CurrentUser;
    IList<UserRolePermission> rolePerm = null;  
    if (user != null && user.RoleId>0)
    {
        rolePerm = UserRolePermission.FindByRoleId(user.RoleId); 
    }     
} 
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        @{if (menus != null && menus.Count > 0 && rolePerm != null && rolePerm.Count > 0)
        {
            foreach (var o in menus.Where(p => p.ParentId == 0))
            {
                if (rolePerm.Select(p => p.ParentPermissionId).Distinct().ToList().Contains(o.Id))
                {
                    <dl id="menu-@(o.PermissionId)">
                        <dt><i class="Hui-iconfont">&#xe616;</i> @(o.Name)<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                        <dd>
                            <ul>
                                @foreach (var oo in menus.Where(p => p.ParentId == o.PermissionId))
                                {

                                    if (rolePerm.Select(p => p.PermissionId).ToList().Contains(oo.Id))
                                    {
                                        <li><a data-href="@(oo.Url)" data-title="@(oo.Name)" href="javascript:void(0)">@(oo.Name)</a></li>
                                    }

                                }
                            </ul>
                        </dd>
                    </dl>
                }
            }
        }
        }
        
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>