@import url("CSMain.css");
body{ padding:50px 0;}
#ErroMain{ display:block; width:500px; margin:0 auto; border:1px #999 solid; padding:15px;}
#ErroMain h1{ line-height:2em; font-size:14px; color:#c03;}
#ErroMain p{ line-height:2em;}
#ErroMain p b{ color:#d03;}
