body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,th,td,img,div{margin:0;padding:0;border:0;}
body,form,fieldset,table,td,p,li,select,input,textarea,div{font-size:12px; text-align:left;}
ul{list-style-type:none;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#f00; text-decoration:underline;}
body{background-color:#f4f6f7;}
#LoginBar {position:absolute; left:50%; Top:50%; margin-top: -220px; z-index: 1; margin-left: -200px; width: 600px;  Height: 420px }
#LoginBar .LoginTop {font-size:0; line-height:15px; height:15px; clear:both;background:url(../Images/login-top.gif) no-repeat left top}
#LoginBar .LoginTop2 {font-size:0; line-height:15px; height:15px; clear:both;background:url(../Images/login-bottom.gif) no-repeat left top}
#LoginBar .FormNav {background:url(../Images/login-center.gif) repeat-y left top;}
#LoginBar .FormNav dl {background:url(../Images/key.gif) no-repeat 0 22px; padding:15px 30px 15px 100px;}
#LoginBar .FormNav dt,#LoginBar .FormNav dd { line-height:1em; padding:5px 0;}
#LoginBar .FormNav label { padding-right:15px; font-size:14px; color:#666; font-weight:bold;}
#LoginBar .FormNav dd.msgError{ color:Red;}
#LoginBar .FormNav dd.Doing{ line-height:36px; color:#999;  }
#LoginBar .FormNav dd img { margin-left:20px;vertical-align:top; margin-bottom:-19px;}
#LoginBar .FormNav .Login_text{font-family:Arial, Helvetica, sans-serif; background-color: #fff; height:1.2em; padding:0.2em 0.2em;border:1px double #ccc; width:10em;}
#LoginBar .FormNav .Login_text_1_2{font-family:Arial, Helvetica, sans-serif; background-color: #fff; padding:0.2em 0.2em;border:1px double #ccc; width:5em;}
#LoginBar .FormNav .Login_button{width:60px; height:26px; border:0; background:url(../Images/button.gif) no-repeat left top; cursor:pointer; margin-left:65px;}
#LoginBar .FormNav .Login_VcodeImg{ cursor:pointer;}