<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="true">
    <appName>MSNet.Tests</appName>
    <typeAliases></typeAliases>
  </appbase>
    <logging>
    <loggers>
      <logger name="default">
        <ListenerIndex name="AppFileListener" minLevel="Trace" maxLevel="Info" />
        <ListenerIndex name="ExceptionFileListener" minLevel="Warn" />
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="ExceptionLogger">
        <ListenerIndex name="ExceptionFileListener"/>
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="FatalExceptionLogger">
        <ListenerIndex name="FatalExceptionFileListener"/>
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="TaskThreadExceptionLogger">
        <ListenerIndex name="TaskThreadExceptionFileListener" />
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
    </loggers>
    <listeners>
      <listener name="AppFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.app.log" />
        <Formatter type="TextFormatter"
          content="===[@LogLevel]@Message \t @LogTime\r\n" />
      </listener>
      <listener name="FatalExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.fatal.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="ExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="TaskThreadExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.taskThreadEx.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="QueueListener" Queue="AppLog" c:type="QueueListener" />
    </listeners>
  </logging>
</configuration>