#audiocontainer{ position: absolute; z-index: 9999;}

.hide{ display: none !important;}
.show{ display: block !important;}

#home{	
    background-image: url(/Content/IImages/home0.jpg);
	background-size: cover;
	background-color:#888888 ;
}
.home_pic_01{
	height:auto;
	width:20%; 
    top:25%;
    left:40%;
    text-align:center;    
    position:absolute;
    z-index:9999;  
}
 .home_pic_01 img {
     width:100%; 
     height:auto;    
     margin:0;
     padding:0;
     border:0;   
    }

 .btnnext1{   
	height:4em;
	width:20%;
	position: absolute;
    top:90%;
    left:40%;
    text-align:center;
    z-index:9999;     
}
.btnnext2{
	height:1em;
	width: 100%;
	position: relative;
    top:92%;
}

#btnPage1,#btnPage2,#btnPage3 {
 display:inline-block;
 height:4em;
 width:4em;
 text-align:center;
 cursor:pointer;
 background:url(/Content/IImages/icon-01.png) center no-repeat;
}
#btnPage1:hover,#btnPage2:hover,#btnPage3:hover {
 display:inline-block;
 height:4em;
 width:4em;
 text-align:center;
 cursor:pointer;
 background:url(/Content/IImages/icon-02.png) center no-repeat;
}
.h5page{
	width:100%;
	height:100%;
	position:absolute;
    top:0;
    left:0;
	text-align:center;   
}

.h5page .wrap{
	width: 100%;
	height:100%;
	overflow: hidden;
}
#page1{	
    background-image: url(/Content/IImages/home2.jpg);
	background-size: cover;
	background-color:#888888 ;
}
#page2{	
    background-image: url(/Content/IImages/home2.jpg);
	background-size: cover;
	background-color:#888888 ;
}
.page-1-1{
	background-image: url(/Content/IImages/home2.jpg);
	background-size: cover;
	background-color:#00001e ;
}

.page-2-1{
    background-image: url(/Content/IImages/home2.jpg);
	background-size: cover;
	background-color:#00001e ;
}
.blur{-webkit-filter: blur(3px);
	  -moz-filter: blur(3px);
	  filter: blur(3px);
}
html{overflow:hidden;}
body {font-size:12px;font-family:"Î¢ÈíÑÅºÚ";margin: 0;padding: 0;color: #696969; }
.page {width:100%;margin:0 auto;}
.pH155 {height:100px; width:100%;}
.clear {clear: both; margin:0; padding:0; border:0;}
#header{width:1200px; height:125px;margin:0 auto;}
#header #logo{ float:left; height:125px; width:290px; overflow:hidden;}
#header #logo img { width:100%; height:auto;}
#header #navDiv{float:right;width:900px; height:125px; overflow:hidden; }
#header #navDiv ul.nav{ margin:45px 0 0 0; padding:0; float:left; width:100%;}
#header #navDiv ul.nav li{ float:left; width:110px; text-align:center;  display:inline-block;}
#header #navDiv ul.nav li a.a1{ color:#999; line-height:48px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ";  }
#header #navDiv ul.nav li a.a1:hover{ color:#fff; border-bottom: solid 1px #fff; padding-bottom:2px;}
#header #navDiv a.a2 {color:#fff;line-height:48px;font-size:16px; font-family:"Î¢ÈíÑÅºÚ"; border-bottom: solid 1px #fff; padding-bottom:2px;}

.hMain{  width:42%; margin:0 auto;}
.hTitle{ text-align:center; width:80%; margin:0 auto; }
.hTitle span.sp0 {color:#999; font-size:45px; height:90px; line-height:90px; letter-spacing:10px; color:#fff; display:block; }
.hTitle span.sp1 {color:#999; font-size:14px;height:28px;  letter-spacing:5px; display:block;}
.home-p{width:80%;  margin:10px auto; }
.home-p .home-p-p1{font-size:14px;line-height:28px; display:block;  font-family:"Î¢ÈíÑÅºÚ";color:#fff; text-align:left; }
.home-p .home-p-p2{font-size:12px;line-height:24px;display:block;font-family:"Î¢ÈíÑÅºÚ";color:#ccc; text-align:left; }

.home-ul {margin:0; padding:0; float:left; width:100%;} 
.home-ul li {  height:6em; font-size:1.1em; color:#fff;  float:left; text-align:left; line-height:2em; padding-top:1.5%; padding-left:9.5%;  display:inline-block;} 
.home-ul li.hm-li-1 {background:url("/Content/IImages/hmicon.png") no-repeat 0px 0px;width:9.5em; }
.home-ul li.hm-li-2 {background:url("/Content/IImages/hmicon.png") no-repeat 0px -100px;width:12em; }
.home-ul li.hm-li-3 {background:url("/Content/IImages/hmicon.png") no-repeat 0px -197px; width:6em;}
.home-ul li.hm-li-4 {background:url("/Content/IImages/hmicon.png") no-repeat 0px -297px;width:6em; }

.hMain2{width:1040px; margin:0 auto;}
.hMain2 a {border:0; margin:0; padding:0;}
.hMain2 .ibg {opacity:0.5; filter:alpha(opacity=50);  }
.hMain2 .hImg1 {float:left; width: 328px;text-align:left;}
.hMain2 .hImg1 img {margin:0; width: 315px;height:456px; border:0;  }
.hMain2 .hImg2 {float:left; width:300px;text-align:left;}
.hMain2 .hImg2 img.img1 {margin:0;width:290px;height:140px;border:0; }
.hMain2 .hImg2 img.img2 {margin:0;width:290px;height:170px;border:0;}
.hMain2 .hImg2 img.img3 {margin:0 6px 0 0;width:140px;height:140px;border:0;}
.hMain2 .hImg2 img.img4 {margin:0;width:140px;height:140px;border:0;}
.hMain2 .hImg3 {float:right; width: 410px;text-align:left;}
.hMain2 .hImg3 img {margin:0; width:410px;height:228px; border:0;}

#footer{width: 1200px; height:195px; margin:0 auto;}
#footer .link{ margin:0 auto; width:600px; text-align:center;}
#footer .link p{ color:#999; line-height:28px; text-align:center;display:block; }





