@{
    ViewBag.Title = "网站后台管理";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml"; 
}
<div class="show_iframe">
    <div style="display:none" class="loading"></div>
    <iframe scrolling="yes" frameborder="0" src="/home/welcome"></iframe>
</div>
